.waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(121, 85, 72, 0.65);
    }

 .answer-button{
 	margin:5px;
 	overflow:scroll;

 }
 .answer-button2{
 	margin:5px;
 	overflow: scroll;
 }
 #testPrepArea{
 	overflow: scroll;
 }
 #identity{
 	position:relative;
 	top:-20px;
 }
 #nameInput{
 	width:100%;
 }